page_param redirection chokes on fragments

According to [RFC 7231, section 7.1.2](https://tools.ietf.org/html/rfc7231#section-7.1.2) URL fragments are allowed in Location headers. However, if an URL containing a fragment is set as redirect URL in page_params, the redirect does not happen, and instead part of the constructed CMSimple scripting is shown.